.text-base{
    font-size: 25px;
    color: blue;
    line-height: 35px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.text1{
    @extend .text-base;
}
.text2{
    @extend .text-base;
}
.text3{
    @extend .text-base;
}
