$primary-color:red;
$secendary-color: yellow;
$warnig-color: green;
$danger-color: black;
$font-size:20px;
$padding: 10px 20px;
$background-color: gray;
$font-size-responsive:(sm: 19px, md:30px, lg:40px);
